html, body {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: transparent !important;
    cursor: default;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-weight: 100;
    margin: 0;
}

.hover-box {
    display: inline-block;
    color: #fafafa;
    font-size: 12px;
    border-color: #323232;
}

.hover-box-title {
    background-color: #101010;
    padding: 4px 4px 0 4px;
    font-size: 16px;
    font-weight: 100;
    border-radius: 5px 5px 0 0;
}

.hover-box-icons {
    background-color: #202020;
    padding: 4px;
    font-size: 24px;
    line-height: 1em;
}

.hover-box-content {
    background-color: #f0f0f0;
    color: #151515;
    border-radius: 0 5px 5px 5px;
}

.hover-box-icon {
}

.hover-box-icon.active {
    color: #009688;
}

.hover-box-icon.active:hover {
    color: #00695c;
}

.hover-box-icon:hover {
    color: #b0b0b0;
    cursor: pointer;
}

.hover-box-content {
    padding: 4px;
    font-size: 14px;
    width: 400px;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #202020;
}

.hover-box-content::-webkit-scrollbar{ width: 12px; height: 12px;}
.hover-box-content::-webkit-scrollbar-button:start:decrement,.hover-box-content ::-webkit-scrollbar-button:end:increment{ display:block;height:0; background-color:transparent;}
.hover-box-content::-webkit-scrollbar-track-piece{background-color:#202020;-webkit-border-radius:0;-webkit-border-bottom-right-radius:5px;-webkit-border-top-right-radius:5px;}
.hover-box-content::-webkit-scrollbar-thumb:vertical{height:24px;background-color:#f0f0f0;-webkit-border-radius:0;-webkit-border-bottom-right-radius:5px;-webkit-border-top-right-radius:5px;}
.hover-box-content::-webkit-scrollbar-thumb:horizontal{width:24px;background-color:#f0f0f0;-webkit-border-radius:0;-webkit-border-bottom-right-radius:5px;-webkit-border-top-right-radius:5px;}

.monospace {
    font-family: 'Cutive Mono', monospace;;
}

.ui-big, .ui-small, .ui-tiny {
    color: #fafafa;
}

.ui-big {
    font-size: 42px;
}

.ui-small {
    font-size: 24px;
}

.ui-tiny {
    font-size: 18px;
}

.with-shadow {
    text-shadow: #2e2e2e 2px 2px 4px;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
/* latin-ext */
@font-face {
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/CutiveMono-Regular.ttf') format('truetype');
}