html, body {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: transparent !important;
    cursor: default;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-weight: 100;
    margin: 0;
}

.hover-box {
    background-color: #202020;
    color: #fafafa;
    font-size: 12px;
    border-color: #323232;
    border-radius: 3px;
}

.hover-box-title {
    background-color: #101010;
    padding: 4px 4px 0 4px;
    font-size: 16px;
    font-weight: 100;
}

.hover-box-icons {
    padding: 4px;
    font-size: 24px;
    line-height: 1em;
}

.hover-box-

.hover-box-icon {
}

.hover-box-icon:hover {
    color: #b0b0b0;
    cursor: pointer;
}

.monospace {
    font-family: 'Cutive Mono', monospace;;
}

.ui-big, .ui-small, .ui-tiny {
    color: #fafafa;
}

.ui-big {
    font-size: 42px;
}

.ui-small {
    font-size: 24px;
}

.ui-tiny {
    font-size: 18px;
}

.with-shadow {
    text-shadow: #2e2e2e 2px 2px 4px;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
/* latin-ext */
@font-face {
    font-family: 'Cutive Mono';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/CutiveMono-Regular.ttf') format('truetype');
}